MASTER_DB_PASSWORD=supersecret_master_db_password
MASTER_DB_USER=master_admin
MASTER_DB_NAME=postgres

AUTH_DB_PASSWORD=supersecret_auth_db_password
AUTH_DB_USER=auth_manager
AUTH_DB_NAME=truckguard_auth

CORE_DB_PASSWORD=supersecret_core_db_password
CORE_DB_USER=core_manager
CORE_DB_NAME=truckguard_core

JWT_SECRET=your_super_secret_key_2025

STORAGE_ROOT_USER=minioadmin
STORAGE_ROOT_PASSWORD=miniosecretpassword
STORAGE_BUCKET_NAME=truckguard-images
STORAGE_SECRET=some_shared_rpc_secret_for_garage

VALKEY_ADDR=valkey:6379

WORKER_SYSTEM_KEY=worker_system_secret_2025

ADMIN_DEFAULT_PASSWORD=secret123 